<section>
	<p>Bienvenido, {{ data.username }}.</p>
	<p>¡Puedes unirte a una sala ya creada...</p>
    <table id="roomTable">
        <tr>
            <th>Número de sala</th>
            <th>Creador de la sala</th>
            <th>Nombre de sala</th>
            <th class="passCell">¿Contraseña?</th>
        </tr>
        <tr ng-repeat="(key, value) in rooms" ng-click="goTo()">
            <td>{{ value.roomID }}</td>
            <td>{{ value.roomOwner }}</td>
            <td>{{ value.roomName }}</td>
			<td class="passCell">{{ value.hasPassword }}</td>
        </tr>
    </table>
	<p>...o crear tu propia sala!</p>
	<table>
		<tr>
			<td><input id="id" placeholder="ID" ng-model="newId"/></td>
			<td><input id="texto" placeholder="TEXTO" ng-model="newText"/></td>
			<td><button ng-click="addRoom(newId, newText)">Añadir</button></td>
		</tr>
	</table>
	<button ng-click="goTo('room')">Ir a la sala de vídeo</button>
</section>
